/*div.container {
    width: 100%;
    border: 1px solid gray;
}*/

body {
    background-color: #e0e0e0;
}

header {
    padding: 20px;
    color: BLACK;
    /*background-color: #002e73;*/
    background-image: url("images/img1.jpg");
    clear: left;
    text-align: center;
    background-size: 1500px 200px;
    background-repeat: no-repeat;
    padding-top: 199px;
}

footer {
    padding: 10px;
    color: white;
    background-color: #648ece;
    clear: left;
    text-align: center;
}


/*
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
*/

article {
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 100px;
}

article {
    margin-bottom: 100px;
}

.section1 {
    float: left;
    margin: 10px;
    padding: 10px;
    max-width: 30%;
    height: 300px;
    border: 1px solid black;
    margin-left: 103px;
    background-color: #cde8e7;
}

.section2 {
    float: right;
    margin: 10px;
    padding: 10px;
    max-width: 30%;
    height: 300px;
    border: 1px solid black;
    margin-left: 43px;
    margin-right: 123px;
    background-color: #cde8e7;
}

.section3 {
    float: left;
    margin: 10px;
    padding: 10px;
    max-width: 30%;
    height: 300px;
    border: 1px solid black;
    margin-left: 103px;
    background-color: #cde8e7;
}

.section4 {
    float: right;
    margin: 10px;
    padding: 10px;
    max-width: 30%;
    height: 300px;
    border: 1px solid black;
    margin-left: 43px;
    margin-right: 123px;
    background-color: #cde8e7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 32px;
    background-color: #121213;
    /*margin-right:33px;*/
    /*float:right;*/
    /*margin-top:78px;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

#myImg {
    padding-left: 187px;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    margin: 4px 2px;
    cursor: pointer;
}

.form {
    background-color: cadetblue;
    margin-right: 228px;
    margin-left: 132px;
    margin-bottom: 170px;
    padding-bottom: 103px;
    font-size: 26px;
    max-width: 499px;
}

#name {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

#email {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

#username {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

#password {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

#repassword {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

.select-style {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

.birthday {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

.birthyear {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

#phone {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

.buttom {
    margin-top: 32px;
    margin-left: 155px;
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    cursor: pointer;
    border-radius: 25px;
}

.svgimg {
    margin-left: 25%;
    margin-top: 156px;
    margin-bottom: 80%;
}

.textsize {
    font-size: 20px;
}